node_modules
# Keep environment variables out of version control
.env
.env.test

dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/seed
coverage
