# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL untuk testing
# NOTE: Untuk parallel testing, schema akan otomatis dibuat per Jest worker
# (contoh: test_schema_1, test_schema_2, dll) untuk menghindari conflict antar worker
# Jadi DATABASE_URL di sini hanya sebagai base URL, schema akan di-override otomatis
DATABASE_URL="postgresql://postgres:inputpassdb@localhost:5432/app_management_test?schema=public"
SECRET_JWT=portfolio123
EMAIL_ADMIN=admin@arzhi.com
PASS_ADMIN=inputpass
RATE_LIMIT=500
TZ=Asia/Jakarta

# ENV
NODE_ENV=testing
