# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:inputpassdb@localhost:5432/app_management?schema=public"
DATABASE_URL_DOCKER="postgresql://postgres:inputpassdb@postgresrbac:5432/app_management?schema=public"
SECRET_JWT=portfolio123
EMAIL_ADMIN=admin@arzhi.com
PASS_ADMIN=inputpass

# DATABASE_URL="postgresql://postgres:ardi1995@localhost:5432/app_management_test?schema=public"

# ENV
NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=inputpassdb
POSTGRES_DB=app_management
RATE_LIMIT=60
DOMAIN_COOKIE=localhost

TZ=Asia/Jakarta

# APM Configuration
# APM_SECRET_TOKEN=tokeninlocal
APM_API_KEY="input api key"
APM_SERVER_URL=http://localhost:8200
APM_SERVER_URL_DOCKER=http://apm-server:8200
